.homepage-container {
	margin-top: 8rem;
	display: flex;

	.details,
	.news-feed,
	.registration {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 0 1.25rem;
		min-width: 0;

		&:last-child {
			border-right: none;
		}

		h2 {
			margin-top: 0;
		}
	}
}
