.news-feed {
	.news-container {
		display: flex;
		margin-bottom: 1.25rem;

		.color-block {
			width: 20%;
		}

		.news-block {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			width: 80%;

			h4 {
				text-transform: uppercase;
				margin: 0;
				padding-bottom: 1rem;
			}

			.date-name {
				display: flex;
				justify-content: space-between;
				padding-top: 1rem;
				font-size: 0.875rem;
			}
		}
	}
}
