.buttons-block {
	display: flex;
	justify-content: center;

	button {
		border-radius: 0;
		padding: 0.75rem 0;
		font-size: 1rem;
		font-weight: 600;
		width: 10rem;
		border: 1px solid blue;

		&:first-child {
			margin-right: 20px;
		}
	}
}
