label {
	margin-bottom: 12px;
}

input {
	padding: 12px;
	box-shadow: none;
	border: 1px solid grey;
	margin-bottom: 20px;
}

.buttons-block {
	display: flex;
	justify-content: center;

	button {
		border-radius: 0;
		padding: 12px 0;
		font-size: 16px;
		width: 150px;
		border: 1px solid blue;

		&:first-child {
			margin-right: 20px;
		}
	}

	.cancel {
		background-color: transparent;
	}

	.submit {
		background-color: blue;
		color: white;
	}
}
