$primary-color: #003580;
$secondary-color: #d66800;
$welcome-bg: #87c4e0;
$about-bg: #c9c9c9;

.header,
.color-block,
.submit {
	background-color: $primary-color;
}

.cancel {
	background-color: $secondary-color;
}

::placeholder,
label,
h4 {
	color: $secondary-color;
}

h3,
h2,
.detail-block {
	color: $primary-color;
	margin-top: 0;
}

.details,
.news-feed,
.registration {
	border-right: 1px solid $primary-color;
}

.news-container {
	border: 1px solid $primary-color;

	h4 {
		border-bottom: 1px solid $primary-color;
	}
}

.name {
	color: $primary-color;
	font-weight: 600;
}

.detail-block {
	&:first-child {
		background-color: $welcome-bg;
	}

	&:last-child {
		background-color: $about-bg;
	}
}

@media only screen and (max-width: 768px) {
	.homepage-container {
		flex-direction: column;

		.details,
		.news-feed,
		.registration {
			border: none;
		}
	}
}
