// header {
// 	height: 100px;
// 	width: 100%;
// 	box-sizing: border-box;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	padding: 0 20px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	background-color: green;

// 	img {
// 		height: 80px;
// 		width: 80px;
// 	}

// 	input {
// 		padding: 12px;
// 		box-shadow: none;
// 		border: none;
// 		width: 200px;
// 	}
// }

.homepage-container {
	margin-top: 200px;
	display: flex;

	.details,
	.news-feed,
	.registration {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 0 20px;
		border-right: 1px solid black;
		min-width: 0;

		&:last-child {
			border-right: none;
		}

		h3 {
			margin-top: 0;
		}

		.welcome,
		.about {
			background-color: indianred;
			padding: 16px;
			margin-bottom: 20px;
		}

		.news-highlight {
			display: flex;
			border: 1px solid blue;
			margin-bottom: 20px;

			.color-block {
				background-color: blue;
				width: 20%;
			}

			.news-block {
				display: flex;
				flex-direction: column;
				padding: 16px;
				width: 80%;

				h4 {
					border-bottom: 1px solid blue;
					text-transform: uppercase;
				}

				.date-name {
					display: flex;
					justify-content: space-between;
				}
			}
		}

		label {
			margin-bottom: 12px;
		}

		input {
			padding: 12px;
			box-shadow: none;
			border: 1px solid grey;
			margin-bottom: 20px;
		}

		.buttons-block {
			display: flex;
			justify-content: center;

			button {
				border-radius: 0;
				padding: 12px 0;
				font-size: 16px;
				width: 150px;
				border: 1px solid blue;

				&:first-child {
					margin-right: 20px;
				}
			}

			.cancel {
				background-color: transparent;
			}

			.submit {
				background-color: blue;
				color: white;
			}
		}
	}
}
